.carousel {
    width: 100%;
    /* max-width: 600px; */
    margin: 0 auto;
}

.slides {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    transition: transform 0.3s ease-in-out;
}

.slide {
    /* flex: 0 0 100%; */
    display: none;
    transition: transform 0.3s ease-in-out;
}

.slide.active {
    display: block;
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button {
    margin: 0 5px;
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #bbb;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}

.slideshow .slides {
    animation: slideAnimation 0.8s ease-in-out infinite;
}

@keyframes slideAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% * var(--active-index)));
    }
}